
{%- if site.copyright.msg != nil and site.copyright.msg != empty and site.copyright.msg != null -%}
<div id="copyright">
    <p id="copyright-notice"> {{site.copyright.year}} • {{site.copyright.msg}} </a> </p>
</div> 
{%- endif -%}

<footer style="text-align: center; padding: 1rem;">
  <div class="social-icons">
  <a href="https://www.spotify.com/TuPagina" target="_blank" rel="noopener" aria-label="Spotify">
      <i class="fab fa-spotify fa-lg"></i>
    <a href="https://www.youtube.com/@TuCanal" target="_blank" rel="noopener" aria-label="YouTube">
      <i class="fab fa-youtube fa-lg"></i>
    </a>
    <a href="https://twitter.com/TuUsuario" target="_blank" rel="noopener" aria-label="X">
      <i class="fab fa-x-twitter fa-lg"></i>
    </a>
    <a href="https://www.twitch.tv/TuCanal" target="_blank" rel="noopener" aria-label="Twitch">
      <i class="fab fa-twitch fa-lg"></i>
    </a>
    <a href="https://www.facebook.com/TuPagina" target="_blank" rel="noopener" aria-label="Facebook">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
  </div>
</footer>
